extends ./layout/layout
block css
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/dynamic.css")
block contents
    .blog-words
        //- h2.end-line 博客动态
        .time-line
            ul.layui-timeline
                li.layui-timeline-item
                    .avatar
                        img(src=userAvatar, alt="admin",width="100%",height="100%",title="admin")
                    i.layui-icon.layui-timeline-axis &#xe756;
                    .layui-timeline-content.layui-text
                        h4.layui-timeline-title=new Date(timeline.created).toLocaleString()
                        p= timeline.title
            ul.comment-list.flow-default.layui-timeline(data-maxnum=maxNum)#LAY_demo2
            ul.layui-timeline
                li.layui-timeline-item
                    .avatar
                        img(src=userAvatar, alt="admin",width="100%",height="100%",title="admin")
                    i.layui-icon.layui-anim.layui-anim-rotate.layui-anim-loop.layui-timeline-axis &#xe63e;
                    .layui-timeline-content.layui-text
                        h4.layui-timeline-title 某年某月某日，总之很久之前。。。
                        p 更久前，轮子时代。各种ui组件没形成之前，页面是怎样写的？
                       
block scripts
    script(src="/js/dynamic.js")   