.blog-header
      .layui-container
        .layui-row
          .layui-col-xs3
            h1.grid-demo
              span 青 &nbsp
              span 丝 &nbsp
              span 梦 &nbsp
              span 思 &nbsp
              span 维 &nbsp
            .grid-demo.space &nbsp
            .grid-demo.p
              p 大王博客
              p www.dawang.xin
          .layui-col-xs7
            ul.grid-demo.layui-nav#head-nav
              li.layui-nav-item
                a(href="/")
                  i.layui-icon.layui-icon-home 
                  | 首页 
              li.layui-nav-item
                a(href="/article") web开发
                dl.layui-nav-child
                  dd
                    a(href="/index/type") 前端开发
                  dd
                    a(href="/index/type") 后端开发
                  dd
                    a(href="/index/type") 推荐工具
              li.layui-nav-item
                a(href="/diary") 博客日记 
              li.layui-nav-item
                a(href="/workscase") 作品案例
                dl.layui-nav-child
                  dd
                    a(href="/works/tmall.html" target="_blank") 仿静态天猫官网
                  dd
                    a(href="/works/calc.html" target="_blank") 简易计算器
                  dd
                    a(href="/works/3dpicshow.html" target="_blank") 3D展示
                  dd
                    a(href="/works/mogujie" target="_blank") 蘑菇街实战
                  dd
                    a(href="/myapp/index.html" target="_blank") vue-myapp
                  dd
                    a(href="/echarts/react-router/" target="_blank") react-router|echarts
                  dd
                    a(href="/luckydial/luckydial.html" target="_blank") 幸运转盘
              li.layui-nav-item
                a(href="/find") 寻觅足迹 
              li.layui-nav-item
                a(href="/about") 关于博客 
              li.layui-nav-item
                a(href="/dynamic") 时间线
                //- dl.layui-nav-child           
          .layui-col-xs2
            .grid-demo
              if session.role
                a.user(href=session.role > 1 ? "/admin/user": "/admin/userface")
                  img.avatar(src=session.avatar, alt=session.username,width="40",title=session.username)
                  span.small.ellipsis= users ? users : "游客"
              else
                a.user(href="javascript:;")
                  img.avatar(src="", alt="",width="40",title="")
                  span.small.ellipsis= users ? users : "游客"
              span.time-frame

            
